.bg {
    margin-top: 30px;
    text-align: center;
    padding: 50px;



}

.box1 {
    height: 5px;
    width: 80px;
    box-shadow: black 10px;
    margin: 20px;
    padding: 20px;


}

.box2 {
    height: 5px;
    width: 80px;
    box-shadow: black 10px;
    margin: 20px;
    padding: 20px;
}

.bttn {
    background-color: greenyellow;
    height: 35px;
    width: 70px;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
}

.result {
    display: flex;
    justify-content: center;
}
.sum{
    border: 2% solid black;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 15px 0px;
    height: 20px;
    width: 80px;
    text-align: center;
    padding: 20px;
}
.bg2{
    margin: 10px;
    text-align: center;
}